@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cinzel', serif;
    background-image: url(img/bg.jpg);
    background-size: cover;
    color: #fff;
    text-align: center;
}

.navbar {
    background-color: #022E41;
    overflow: hidden;
    /* Permite que o conteúdo flutue dentro da navbar */
}

.navbar-brand {
    float: left;
    /* Alinha o logo à esquerda */
    display: block;
    color: white;
    text-align: center;
    padding: 33px 34px;
    text-decoration: none;
    font-size: 25px;
}

.navbar-nav {
    float: right;
    /* Alinha os links à direita */
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    float: left;
    font-size: 25px;
}

.nav-link {
    display: block;
    color: white;
    text-align: center;
    padding: 33px 34px;
    text-decoration: none;
}

.nav-link:hover {
    background-color: #ddd;
    color: black;
}







.conteudo {
    padding: 10px 20px;
}

.titulo-home {
    font-size: 50px;
    margin-bottom: 30px;
    letter-spacing: 3px;
}

.sessao {
    margin-bottom: 50px;
}

.sessao h2 {
    font-size: 20px;
    letter-spacing: 2px;
    margin-bottom: 15px;
}

.grade {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 55px;
}

.livro {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.livro img,
.vazio {
    width: 230px;
    height: 300px;
    background-color: white;
    border: 2px solid #ccc;
    box-shadow: 0 0 8px #00000055;
    border-radius: 12px;
}

.vazio {
    background-color: #bcbcbc;
}

button {
    margin-top: 8px;
    padding: 5px 12px;
    font-size: 0.9rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Cinzel', serif;
}

.btn-ler {
    background-color: #005c75;
    color: white;
}

.btn-reservar {
    background-color: #444;
    color: white;
}

.btn-ler:hover,
.btn-reservar:hover {
    background-color: #888;
}

.vermais {
    margin-top: 30px;
    font-size: 18px;
    cursor: pointer;
}